# Supabase Configuration
SUPABASE_URL=https://dcukfurezlkagvvwgsgr.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRjdWtmdXJlemxrYWd2dndnc2dyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTE5MjM0NjQsImV4cCI6MjA2NzQ5OTQ2NH0.ThXQKNHj0XpSkPa--ghmuRXFJ7nfcf0YVlH0liHofFw

# EmailJS Configuration
EMAILJS_SERVICE_ID=service_puww2kb
EMAILJS_TEMPLATE_ID=template_ai9rrg6
EMAILJS_PUBLIC_KEY=qfM_qA664E4JddSMN

# Google Maps API Key
GOOGLE_MAPS_API_KEY=your_google_maps_api_key_here

# Stripe Configuration (if using)
STRIPE_PUBLISHABLE_KEY=pk_test_51PGxKUKn3GaB6FyY1qeTOeYxWnBMDax8bUZhdP7RggDi1OyUp4BbSJWPhgb7hcvDynNqakuSfpGzwfuVhOsTvXmb001lwoCn7a


# Netlify URL (will be set automatically by Netlify)
URL=https://your-site-name.netlify.app 